* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.pokemon-button {
    background-color: #4CAF50; /* Green background */
    border: none;              /* Remove borders */
    color: white;              /* White text */
    padding: 10px 20px;        /* Some padding */
    text-align: center;        /* Center the text */
    text-decoration: none;     /* Remove underline */
    display: inline-block;     /* Make the button inline-block */
    font-size: 16px;           /* Increase font size */
    margin: 4px 2px;           /* Add some margins */
    cursor: pointer;           /* Pointer/hand icon */
    border-radius: 5px;        /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
  }

  .pokemon-button-static {
    background-color: #483d8b; /* Green background */
    border: none;              /* Remove borders */
    color: white;              /* White text */
    padding: 10px 20px;        /* Some padding */
    text-align: center;        /* Center the text */
    text-decoration: none;     /* Remove underline */
    display: inline-block;     /* Make the button inline-block */
    font-size: 16px;           /* Increase font size */
    margin: 4px 2px;           /* Add some margins */
    cursor: pointer;           /* Pointer/hand icon */
    border-radius: 5px;        /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
  }

  .pokemon-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  @media (max-width: 600px) {
    .pokemon-button {
      width: 100%;
    }
  }




  #modal-container {
    display: none;
  }

  #modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* to show it above other content */
    z-index: 999;

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
  }